---
layout: default
title: Projects
permalink: /projects/
weight: 2
---

{% include projects/index.html %}

<div class="buttons-container text-center">
  {% include elements/button.html link="/about" text="<i class='fas fa-arrow-left'></i> About Me" %}
  {% include elements/button.html link="/timeline" text="Timeline <i class='fas fa-arrow-right'></i> " %}
</div>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C42MX10CYP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C42MX10CYP');
</script>