---
layout: page
---

<h1><b>{{ page.title }}</b></h1>

<p class="post-metadata text-muted">
  {{ page.date | date_to_long_string }} -  
  <b>
  {%- assign words = content | number_of_words -%}
  {%- if words < 360 -%}
    less than 1 min read time
  {%- else -%}
    {{ words | divided_by: 180 }} mins read time
  {%- endif -%}
  </b>

  <br>

  {%- if page.tags != empty -%} 
    {% for tag in page.tags %}
    <a class="text-decoration-none no-underline" >
      <span class=" badge badge-pill text-primary border border-primary">{{ tag }}</span>
    </a>
    {% endfor %}
  {%- endif -%}

</p>

{{ content }}

{% if page.comments %}
<div class="pt-5">
  {% include blog/disqus.html %}
</div>
{% endif %}

<p class="text-center">
  {% include elements/button.html link="/blog" text="Back to Blog" %}
</p>